<h1> Index!</h1>

<% @tasks.each do |task| %>
  <% if task.created_at.strftime('%d/%m/%Y') == Date.today.strftime('%d/%m/%Y')  %>
    <h1>Today</h1>
  <% elsif task.created_at.strftime('%d/%m/%Y') == Date.today.strftime('%d/%m/%Y') - 1 %>
    <h1>Yesterday</h1>
  <% else %>
    <h1><%= task.created_at.strftime('%d/%m/%Y') %></h1>
  <% end %>
  <h2><%= task.title %></h2>
  <p><%= task.content %></p>
<% end %>
