// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "show";


.title-font {
  color: #0a3e6e;
  font-weight:bold;
}

.hov-decoration {
  a:hover {
    text-decoration: none;
  }
}

.content {
  color:black;
}

.pill-button {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #0a3e6e;
  color: white;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.pill-button:hover {
  background-color: #f1f1f1;
  color: #0a3e6e;
}

@media only screen and (max-width: 667px) {
  .pill-button {
    font-size: 0.6rem;
  }
}